extends layout

block content
  div.center
    div#counter
      p Liczba kupowanych biletów
      p Zwykłe: #[label#normalTicketCnt 0]   Ulgowe: #[label#studentTicketCnt 0]
      p#messages Do zapłaty: #[label#moneyToPay]
    p Automat przyjumje nominiały:
    div#cash
      div#coins
        p #[button#10grBtn.btn-circle01(value='0.1') 10gr] #[button#20grBtn.btn-circle05(value='0.2') 20gr] #[button#50grBtn.btn-circle05(value='0.5') 50gr] #[button#1zlBtn.btn-circle1(value='1.0') 1zł] #[button#2zlBtn.btn-circle2(value='2.0') 2zł] #[button#5zlBtn.btn-circle5(value='5.0') 5zł]
        p Ponadto, dla kwot większych od 7,60 PLN:

      p #[button.btn-circle10#10zlBtn(value='10.0',class='banknote') 10zł] #[button.btn-circle20#20zlBtn(value='20.0',class='banknote') 20zł] #[button.btn-circle50#50zlBtn(value='50.0',class='banknote') 50zł]

    div#tickets
      p #[button#normalTicketBtn.ticket.normal Bilet zwykły<br/>3.80zł] #[button#studentTicketBtn.ticket.student Bilet ulgowy<br/>1.90zł]

    p #[button#cancelBtn.btn.danger Anuluj] #[button#buyBtn.btn.confirm Kupuj]

    P Pojemnik na bilety i resztę
    div.slot
    div#rest
  script.

    var Nominals = [];
    //TODO pobranie tego z bazy
    function getNominals() {
      $.get('/nominals', function (data) {
        $.each(data, function () {
          Nominals.push({nominal:this.nominal,count:this.count})
        });
      });
    }
    var UserCash = [];
    UserCash.push({nominal: 50, count: 0}, {nominal: 20, count: 0}, {nominal: 10, count: 0},
            {nominal: 5, count: 0}, {nominal: 2, count: 0},{nominal: 1, count: 0},{nominal: 0.5, count: 0},{nominal: 0.2, count: 0},{nominal: 0.1, count: 0});
    var Change = [];
    Change.push({nominal: 50, count: 0}, {nominal: 20, count: 0}, {nominal: 10, count: 0},
            {nominal: 5, count: 0}, {nominal: 2, count: 0},{nominal: 1, count: 0},{nominal: 0.5, count: 0},{nominal: 0.2, count: 0},{nominal: 0.1, count: 0});

    getNominals();



    $( document ).ready(function() {
      //Banknotes are disabled by default
      $('.banknote').attr("disabled", true);
      $('#coins :input').attr("disabled", true);


      //Click on the buy button
      $("#buyBtn").click(function () {
        if($("#normalTicketCnt").html()*1 + $("#studentTicketCnt").html()*1 > 0){
        $('#messages').addClass("confirm");
        $('#tickets :input').attr("disabled", true);
        $('#coins :input').attr("disabled", false);
        //Displays banknotes to pay
        if ($('#moneyToPay').html() > 7.6) {
          $('.banknote').attr("disabled", false);
          return;
        }}
      });

      //Handles counters incrementations
      $('#tickets').on('click','button',function(){
        if (checkTickets()) {
          $('#'+($(this).attr('id').replace('Btn','Cnt'))).html(function (i, val) {
            return val * 1 + 1
          })
          calculateMoneyToPay();
        } else {
          $('#messages').append("<br/>Maksymalna ilośc biletów osiągnieta");
          $('#messages').addClass("alert");
          $('#tickets :input').attr("disabled", true);
        }
      });

      //Checks amount of tickets
      var checkTickets = function(){
        if($("#normalTicketCnt").html()*1 + $("#studentTicketCnt").html()*1 >= 15){
          return false
        } else {
          return true
        }
      };

      //Calculate money to pay
      var calculateMoneyToPay = function(){
        $("#moneyToPay").html((parseFloat($("#normalTicketCnt").html()*3.8 + $("#studentTicketCnt").html()*2)).toFixed(2))
      };

      //Cancel a transaction
      $("#cancelBtn").click(function(){
        var normalCnt = $('#normalTicketCnt').html();
        var studentCnt = $('#studentTicketCnt').html();
        if (normalCnt + studentCnt > 0 && !($('#clearBtn').length)) {

          $("#moneyToPay").html(0);
          $('#tickets :input').attr("disabled", false);
          clearMessage();
          $('#coins :input').attr("disabled", true);
          if(UserCash.some(function(item){
                 return item.count != 0;
                  })) {
            addClearBtn();
            giveMoneyBack(UserCash);
          }
        }
      });

      function clearMessage(){
        $('#messages').html("Do zapłaty: <label id='moneyToPay'></label>");
        $('#messages').removeClass();
        $("#normalTicketCnt").html(0);
        $("#studentTicketCnt").html(0);
        $("#moneyToPay").html(0);
        $('#tickets :input').attr("disabled", false);
        $('#coins :input').attr("disabled", true);
      }

      $("#cash").on('click', 'button', function(){
        var nominal =$(this).val();
        $.grep(UserCash, function(e){ return e.nominal== nominal; })[0].count+=1;

        $('#moneyToPay').html((parseFloat($('#moneyToPay').html() - $(this).val()).toFixed(2)));
        var change = $('#moneyToPay').html();

        if($('#moneyToPay').html() <= 0) {
          wydaj(Math.abs(change),Nominals);
        };
      });

      function giveMoneyBack(item){
        var nominalsToGiveBack=($.grep(item, function(e){ return e.count!= 0; }));
        nominalsToGiveBack.forEach(addCashToRest)
      }

      function addCashToRest(item){
        for (i = 0; i < item.count; i++) {
          $('#rest').append("<button  class='btn-circle"+item.nominal.toString().replace('.','')+"'>"+item.nominal+"</button>");
        }
      }

      function printTickets() {
        var normalCnt =$('#normalTicketCnt').html();
        var studentCnt =$('#studentTicketCnt').html();
        if(normalCnt>0){
          $('#rest').append("<div><button class='ticket normal'>Bilet normalny<br>3.80zł</button>"+"<label class=counter>X"+normalCnt+"</label></div>");
        }
        if (studentCnt > 0) {
          $('#rest').append("<div><button class='ticket student'>Bilet ulgowy<br>1.90zł</button>" + "<label class=counter>x" + studentCnt + "</label></div>");
        }

      }

      function addClearBtn() {
        $('#rest').append("<div style='float: right;'><a href=''><img src='http://localhost:3000/images/hand.png' id='clearBtn'></a></div>");
        $('#clearBtn').click(function () {
          getNominals();
          $('#rest').html('');
          clearMessage();
        })
      }


      function wydaj(change, Nominals){
        var oldChange = change;
        var i = 0;

        while(i<Nominals.length) {
          if(change >= Nominals[i].nominal) {

            P=Math.floor(change/Nominals[i].nominal);
            if(P <= Nominals[i].count) {
              change = Math.round(100 * (change - (Nominals[i].nominal * P))) / 100;
              $.grep(Change, function(e){ return e.nominal== Nominals[i].nominal; })[0].count=P;
            }
          }
          i++;
        }
        if(change > 0 && Nominals.length >= 2) {
          wydaj(oldChange,Nominals.slice(1,Nominals.length))
        }else if (change == 0) {
          $('#messages').html("Zabierz Bilety i reszte");
          $('#messages').removeClass();
          $('#messages').addClass("succes");
          giveMoneyBack(Change);
          printTickets();
          addClearBtn();
        }
        else  {
          $('#messages').html("Brak monet w automacie");
          $('#messages').removeClass();
          $('#messages').addClass("alert");
          giveMoneyBack(UserCash);
          addClearBtn();
        }

      };

    });